body {
  margin: 0;
  font-family: Mont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Mont;
  src: url('../src/fonts/Montserrat-Medium.ttf');
}